body{
    background-color: rgb(226, 224, 224);
    font-family: sans-serif;
}
.container{
    background-color: rgb(255, 234, 234);
    height: 400px;
    width: 300px;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey
}
h1{
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 240px;
    padding: 5px;
}
#add{
    background-color: black;
    color: white;
    border-color: black;
    margin: 0 auto;
    padding: 5px;
    width: 240px;
    border-radius: 10px;
}
#add:hover{
    background-color: transparent;
    color: black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th{
    background-color: rgb(255, 234, 234);
}
#delete{
    background-color: red;
    border-color: red;
    color: white;
    padding: 5px 20px; 
    border-radius: 10px;
}